/*FONT*/
html{
    scroll-behavior: smooth;
}
p{
    font-family: 'Poppins', sans-serif;
  }

h1, button, a{
    font-family: 'Poppins', sans-serif;
}

/*NAV BAR */
.nav_contain{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    font-size: 20px;
    position:fixed;
    align-items: flex-end;
    padding-left: 1300px;
    
}

#home{
    position: sticky;
    border: none;
    background: none;
    font-size: 20px;
    padding-top: 20px;
}


#work{
    position: sticky;
    border: none;
    background: none;
    font-size: 20px;
    color:black;
    text-decoration: none;
    padding-top: 20px;
}


#about{
    position: sticky;
    border: none;
    background: none;
    font-size: 20px;
    color:black;
    text-decoration: none;
    padding-top: 20px;
}


#contact{
    position: sticky;
    border: none;
    background: none;
    font-size: 20px;
    color:black;
    text-decoration: none;
    padding-top: 20px;
}

.active, .btn:hover {
    color: #BE654F;
}

.btn{
    border: 0px;
    background: none;
    font-size: 20px;
}

/*HOME PAGE*/
.intro{
    display:flex;
    flex-direction: column;
}
.design_how{
    font-size: 10px;
}
.dBig{
    display: flex;
    
    
}
#location{
    font-size: 35px;
}

#me_Me{
    font-size: 25px;
    padding-bottom: 120px;
}

.nameBig{
    font-size: 100px;
    
}

.dBig{
    
    padding-left: 75px;
    padding-right: 75px;
}

#rm_design{
    position: sticky;
    position: absolute;
}

.container{
    position: relative;
    text-align: center;

}
.logo{
    
    display:flex;
    justify-content: flex-end;
    font-size: 20px;
    padding-right: 40px;
}


.boxBigb{
    display: flex;
}

#bar{
    padding-left: 75px;
}

/*WORK PAGE*/
/*PROJECT 1*/
#org_bar{
    padding-right: 20px;
}

#darkorg_bar{
    padding-left: 20px;
}
.projOne{
    display:flex;
    padding-left: 75px;
}

.wc_img{
    height: 600px;
    border: solid 1.75px black;
    
}

.sideG_one{
    padding: 250px 200px;
    
}

.recentW{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 75px;
}
.projTwo{
    padding-right: 200px;
    padding-top: 100px;
}
#mad_one{
    font-size: 50px;
}

.wc{
    font-size: 20px;
}

.ccf_img{
    padding-top: 20px;
}


.projThree{
display:flex;
padding-left:75px;

}

.projOne_class{
    display:flex;
}


.projTwo{
    display: flex;
}
.case_study{
    background-color: #89564D;
    border-color: #89564D;
   color: white;
   width: 150px;
   height:50px;
   font-size: 20px;;
}

/*ABOUT PAGE*/
.page_container{
    display:flex;
    padding-left: 75px;
    padding-bottom: 50px;
}

.top_text{
    display:flex;
    flex-direction: column; 
    padding-left: 75px;
    padding-top: 20px;
    padding-right: 120px;
}

.bot_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-top: 50px;
    
}

.abt{
    font-size: 50px;
    padding-bottom: 0px;
    padding-left: 75px;
    padding-top:50px;
}

#org_bar_two{
    padding-right: 20px;
}


/*CONTACT PAGE */
.bg_contact{
    background-color: #EDEDED;
    width: 100%;
    padding-top: 200px

}

#last_page{
    padding-left: 75px;
    padding-bottom:50px;
    font-size: 50px;
}

.last_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}


.thanks{
    font-size: 35px;
    padding-left: 75px;
    padding-right: 90px;
}

.color{
    color: #F19966;
    text-decoration: underline #F19966  3px;
}


#personal_pg{
    display:flex;
    padding-top: 100px;
  padding-bottom: 150px;
  
}
.inside_flx{
    display: flex;
    flex-direction: column;
    padding-right: 320px;
    padding-left: 150px;
    align-self: center;
  
}


#bp_bar{
    padding-left: 20px;
}

#back_pick{
    padding-left: 100px;
}

#lst_div{
    display:flex;
    
}



#text{
    display:flex;

}
.bot_text{
    padding-right:50px;
}

.email{
    background-color: #89564D;
    border-color: #89564D;
   color: white;
   width: 150px;
   height:50px;
   font-size: 20px;;
}

.li{
    background-color: #89564D;
    border-color: #89564D;
   color: white;
   width: 150px;
   height:50px;
   font-size: 20px;;
}

@media (max-width: 1000px){
   



    


}
